[submodule "Framework/Farseer.Net.Sql.Demo"]
	path = Framework/Farseer.Net.Sql.Demo
	url = https://github.com/FarseerNet/Farseer.Net.Sql.Demo.git
		
[submodule "Framework/Farseer.Net.DI"]
	path = Framework/Farseer.Net.DI
	url = https://github.com/FarseerNet/Farseer.Net.DI.git

[submodule "Framework/Farseer.Net.Sql"]
	path = Framework/Farseer.Net.Sql
	url = https://github.com/FarseerNet/Farseer.Net.Sql.git

[submodule "Framework/Farseer.Net.Redis"]
	path = Framework/Farseer.Net.Redis
	url = https://github.com/FarseerNet/Farseer.Net.Redis.git

[submodule "Framework/Farseer.Net.Tools"]
	path = Framework/Farseer.Net.Tools
	url = https://github.com/FarseerNet/Farseer.Net.Tools.git

[submodule "Framework/Farseer.Net.Utils"]
	path = Framework/Farseer.Net.Utils
	url = https://github.com/FarseerNet/Farseer.Net.Utils.git
[submodule "Framework/Farseer.Net"]
	path = Framework/Farseer.Net
	url = https://github.com/FarseerNet/Farseer.Net.git
