<?xml version="1.0"?>
<WebGeneral xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebTitle>感谢使用Farseer.Net V1.2</WebTitle>
  <RewriterDomain>qyn99.com;</RewriterDomain>
  <CookiesDomain />
  <IgnoreLogin>/sys/login/;/sys/Logout/;/sys/VerifyImagePage/;</IgnoreLogin>
  <UploadDirectory>/UpLoadFile/</UploadDirectory>
</WebGeneral>