<?xml version="1.0"?>
<WebSystemConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Cookies_Admin_VerifyCode>Cookies_Admin_VerifyCode</Cookies_Admin_VerifyCode>
  <Cookies_Prefix>Farseer.Net.V1.x</Cookies_Prefix>
  <Cookies_TimeOut>20</Cookies_TimeOut>
  <Cookies_User_Name>Cookies_User_Name</Cookies_User_Name>
  <Cookies_User_VerifyCode>Cookies_User_VerifyCode</Cookies_User_VerifyCode>
  <Cookies_User_Role>Cookies_User_Role</Cookies_User_Role>
  <Cookies_CallBack_Url>Cookies_CallBack_Url</Cookies_CallBack_Url>
  <Session_Admin>Session_Admin</Session_Admin>
  <Session_User>Session_User</Session_User>
  <Session_User_ID>Session_User_ID</Session_User_ID>
  <Session_Prefix>Farseer.Net.V1.x</Session_Prefix>
  <Session_TimeOut>20</Session_TimeOut>
</WebSystemConfig>